
<h1>Search for Books</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchBook">
            <div class="form-group">
                <label for="BookSearchString" class="control-label">Enter a book name or a part of it</label>
                <input name="BookSearchString" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
